/* Reset some default styles for better consistency */
body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #7d7d7d;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding : 20px;
  margin-bottom: 10px;
}

header h1{
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.column pre h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

#price{
  font-size: 40px;
}

/* #po{
  font-size: 40px;
} */

#po{
  font-size:40px;
}



button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 40px;
  margin-left:0;
}

button:hover {
  background-color: #f0fc00;
  color:black;
  border:1px solid black;
}

#PRODUCT{
  margin-bottom: 10px;
}

section {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;

}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
