body,
h1,
h3,
h5,
h2,
ul,
p {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-size:100%;
  background-color: #f4f4f4;
}


header {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-right:10px;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  flex:box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
select{
  display:flex;
}


button:hover {
  background-color: #555;
}

section {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
