*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}

.NavigationBar{
  background-color: black;
  display: flex;
  opacity: 0.95;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 8vw;
  padding-right: 4vw;
  font-size: 20px;
}
.NavigationBar .left-side{
  padding-top: 1.2rem;
}
.NavigationBar img{
  mix-blend-mode: lighten;
  width: 4.5rem;
  height: 4rem;
}
.NavigationBar #Nav-Options{
  display: flex;
  padding-top: 1.7rem;
  flex-basis: 45%;
  justify-content: space-around;
  list-style: none;
}
.NavigationBar #Nav-Options a{
  text-decoration: none;
  color: white;
}
.NavigationBar #Nav-Options a:hover{
  border-bottom:3px white solid;
}


.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #dddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  flex:box;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
select{
  display:flex;
}


button:hover {
  background-color: #555;
}

section {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
